<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <br>
  <div class="container" style="text-align:center;">
    <div>
      <h1>Registro de estadovehiculo </h1>
    </div>
    <form [formGroup]="form" (submit)="aceptar()">

      <!-- <mat-form-field class="example-full-width">
                <mat-label>                  id                </mat-label>
                <input matInput placeholder="id" formControlName = "id">
            </mat-form-field>
                 <br>
          -->



      <mat-form-field class="example-full-width">
        <mat-label> descripcion </mat-label>
        <input matInput required placeholder="descripcion" formControlName="descripcion">
      </mat-form-field>

      <!-- <br>

      <mat-form-field class="example-full-width">
        <mat-label> Valoracion </mat-label>
        <input matInput placeholder="valoracion" formControlName="valoracion">
      </mat-form-field>
      <br> -->

      <br>

      <mat-form-field appearance="fill">
        <mat-label> situacion </mat-label>
        <mat-select required placeholder="situacion" formControlName="situacion">
          <mat-option value="muy buena">muy buena</mat-option>
          <mat-option value="buena">buena</mat-option>
          <mat-option value="regular">regular</mat-option>
          <mat-option value="mala">mala</mat-option>
          <mat-option value="muy mala">muy mala</mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <div style="text-align: center;">


        <button mat-raidsed-button class="btn btn-success" role="button" >Aceptar</button>
        <button mat-raidsed-button routerLink="/pages/estadovehiculos" class="btn btn-danger" role="button" style="margin-left: 10em"> Cancelar </button>
      </div>

    </form>
  </div>
</body>

</html>
