<!--   
<p>
    <mat-toolbar *ngIf="verificar()">
        <button mat-menu-item class="example-icon" aria-label="Example icon-button with menu icon"
        *ngIf="validarRol()" routerLink="/pages/marcas">
            <span> Marcas </span>
        </button>
        <button mat-menu-item class="example-icon" aria-label="Example icon-button with menu icon"
        *ngIf="validarRol()" routerLink="/pages/modelos">
            <span> Modelos </span>
        </button>

        <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
        *ngIf="role=='USER'"  routerLink="/pages/roles">
            <span> Roles </span>
        </button>
        <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
        routerLink="/login" (click)="cerrar()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesiòn</span>
        </button>
        <span class="example-spacer"></span>
    </mat-toolbar>
  </p>
  <router-outlet></router-outlet> -->

  <!-- <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <app-menu></app-menu>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  <router-outlet></router-outlet> -->
<div [hidden]= "verificar()">
  <app-login></app-login>
</div>

<div [hidden]= "!verificar()" class="host">
  <mat-drawer-container >
    <mat-drawer mode="side" [opened]="sideBarOpen" style="background-color: #073576;">
      <app-menu></app-menu>
    </mat-drawer>
    <mat-drawer-content >
      <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>



  <!-- <p>
    <mat-toolbar *ngIf="verificar()">
        <button mat-menu-item class="example-icon" aria-label="Example icon-button with menu icon"
        *ngIf="validarRol()" routerLink="/pages/pets">
            <span>Mascotas</span>
        </button>
        <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
        *ngIf="role=='USER'"  routerLink="/pages/vaccines">
            <span>Vacunas</span>
        </button>
        <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
        routerLink="/login" (click)="cerrar()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesiòn</span>
        </button>
        <span class="example-spacer"></span>
    </mat-toolbar>
  </p>
  <router-outlet></router-outlet> -->