<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <br>
  <div class="container" style="text-align:center;">
    <div>
      <h1>Registro de calificaciones</h1>
    </div>
    <form [formGroup]="form" (submit)="aceptar()">

      <!-- <mat-form-field class="example-full-width">
                <mat-label>                  id                </mat-label>
                <input matInput placeholder="id" formControlName = "id">
            </mat-form-field> 
                 <br>
          -->



      <mat-form-field class="example-full-width">
        <mat-label> Comentario </mat-label>
        <input matInput required placeholder="comentario" formControlName="comentario">
      </mat-form-field>

      <!-- <br>

      <mat-form-field class="example-full-width">
        <mat-label> Valoracion </mat-label>
        <input matInput placeholder="valoracion" formControlName="valoracion">
      </mat-form-field>
      <br> -->

      <br>

      <mat-form-field appearance="fill">
          <mat-label> Marca </mat-label>
          <mat-select formControlName="viaje" [(value)]="idViajeSele" required>
            <mat-option *ngFor="let enty of listaViaje" [value]="enty.idViaje">
              {{enty.idViaje}}
          </mat-option>
          </mat-select>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label> valoracion </mat-label>
        <mat-select required placeholder="valoracion" formControlName="valoracion">
          <mat-option value="5">5</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="1">1</mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <div style="text-align: center;">


        <button mat-raidsed-button class="btn btn-success" role="button" >Aceptar</button>
        <button mat-raidsed-button routerLink="/calificaciones" class="btn btn-danger" role="button" style="margin-left: 10em"> Cancelar </button>
      </div>

    </form>
  </div>
</body>

</html>