<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <br>
    <div class="container" style="text-align: center;">
        <div style="text-align: center;">
            <h1>
             Agregar Tarjeta de Propiedad
            </h1>
        </div>

        <form [formGroup]="form"(submit)="aceptar()">

            <mat-form-field class="example-full-width">
                <mat-label>                  Placa                </mat-label>
                <input matInput  required placeholder="placa" formControlName = "placa">
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label> Modelo </mat-label>
                <mat-select formControlName="modelo" [(value)]="idModeloSele" required>
                  <mat-option *ngFor="let enty of listaModelo" [value]="enty.idModelo">
                    {{enty.descripcion}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label> Marca </mat-label>
                <mat-select formControlName="marca" [(value)]="idMarcaSele" required>
                  <mat-option *ngFor="let enty of listaMarca" [value]="enty.idMarca">
                    {{enty.descripcion}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label> Color </mat-label>
                <mat-select formControlName="color" [(value)]="idColorSele" required>
                  <mat-option *ngFor="let enty of listaColor" [value]="enty.idColor">
                    {{enty.descripcion}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <mat-label>                  N° Tarjeta                </mat-label>
                <input matInput  required placeholder="tarjeta" formControlName = "tarjeta">
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <mat-label>                 Descripcion              </mat-label>
                <input matInput  required placeholder="descripcion" formControlName = "descripcion">
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <mat-label>                 Cantidad Asientos             </mat-label>
                <input matInput  required placeholder="cantidad" formControlName = "cantidad">
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>Año</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="anio" [max]="maxFecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <br>

            <div style="text-align: center;"  >
                <button mat-raidsed-button class="btn btn-success" role="button" >Aceptar</button>
              
                <button mat-raidsed-button routerLink="/tarjetapropiedades" class="btn btn-danger" role="button" style="margin-left: 10em"> Cancelar </button>
            </div>



        </form>
    </div>
</body>
</html>