<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <br>
    <div class="container" style="text-align: center;">
        <div style="text-align: center;">
            <h1>
             Agregar Viajes
            </h1>
        </div>

        <form [formGroup]="form"(submit)="aceptar()">

 

            <mat-form-field appearance="fill">
                <mat-label> Conductor </mat-label>
                <mat-select formControlName="conductor" [(value)]="idConductoSele" required>
                  <mat-option *ngFor="let enty of listaConductor " [value]="enty.idConductor">
                    {{enty.usuario.nombre}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label> Vehiculo </mat-label>
                <mat-select formControlName="vehiculo" [(value)]="idVehicuSele" required>
                  <mat-option *ngFor="let enty of listaVehiculo " [value]="enty.idVehiculo">
                    {{enty.tarjetaPropiedad.tarjetaNumero}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label> Pasajero </mat-label>
                <mat-select formControlName="pasajero" [(value)]="idPasajeroSele" required>
                  <mat-option *ngFor="let enty of listaPasajero " [value]="enty.idPasajero">
                    {{enty.usuario.nombre}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label> Pago </mat-label>
                <mat-select formControlName="pago" [(value)]="idPagoSele" required>
                  <mat-option *ngFor="let enty of listaPago " [value]="enty.idPago">
                    {{enty.precioKM}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label> Ruta </mat-label>
                <mat-select formControlName="ruta" [(value)]="idRutaSele" required>
                  <mat-option *ngFor="let enty of listaRuta " [value]="enty.idRuta">
                    {{enty.descripcion}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <br>
            <br>


            <mat-form-field appearance="fill">
                <mat-label>Fecha de Viaje </mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fecha" [max]="maxFecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <br>

            <div style="text-align: center;"  >
                <button mat-raidsed-button class="btn btn-success" role="button" >Aceptar</button>
              
                <button mat-raidsed-button routerLink="/viajes" class="btn btn-danger" role="button" style="margin-left: 10em"> Cancelar </button>
            </div>



        </form>
    </div>
</body>
</html>