<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <br>
    <div class="container" style="text-align: center;">
        <div style="text-align: center;">
            <h1>
             Agregar detalle de Usuario
            </h1>
        </div>

        <form [formGroup]="form"(submit)="aceptar()">

            <mat-form-field class="example-full-width">
                <mat-label>                  Email                </mat-label>
                <input matInput  required placeholder="email" formControlName = "email">
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <mat-label>                 Direccion               </mat-label>
                <input matInput  required placeholder="direccion" formControlName = "direccion">
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <mat-label>                 Nombre              </mat-label>
                <input matInput  required placeholder="nombre" formControlName = "nombre">
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <mat-label>                 Telefono             </mat-label>
                <input matInput  required placeholder="telefono" formControlName = "telefono">
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>Fecha Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" [max]="maxFecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <br>

            <div style="text-align: center;"  >
                <button mat-raidsed-button class="btn btn-success" role="button" >Aceptar</button>
              
                <button mat-raidsed-button routerLink="/pages/usuarios" class="btn btn-danger" role="button" style="margin-left: 10em"> Cancelar </button>
            </div>



        </form>
    </div>
</body>
</html>