<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <div class="container">
      <h1>Color</h1>
      <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Id" formControlName="id">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Color</mat-label>
        <input matInput required placeholder="name" formControlName="nameColor">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/color">Cancelar</button>
    <p>{{mensaje}}</p>
    </form>
  </div>
</div>

</body>
</html>
