<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <br>

  <div class="container" style="text-align: center;">
    <div style="text-align: center;">
      <h1>
          Agregar Color
      </h1>
  </div>
   
    <form [formGroup]="form" (submit)="aceptar()">
      <!-- 
      <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Id" formControlName="id">
      </mat-form-field> 
      <br>
      -->
      <mat-form-field class="example-full-width">
        <mat-label>Color</mat-label>
        <input matInput required placeholder="name" formControlName="nameColor">
      </mat-form-field>

      <br>

      <div style="text-align: center;">

        <button mat-raidsed-button class="btn btn-success" role="button">Aceptar</button>

        <button mat-raidsed-button routerLink="/pages/colores" class="btn btn-danger" role="button"
            style="margin-left: 10em"> Cancelar
        </button>

      </div>

      <p>{{mensaje}}</p>
    </form>
  </div>


</body>

</html>